command: ["python", "app.py"]
env:
  - name: GENIE_SPACE_ID
    value: "<genie-space-id>"
  - name: AI_SEARCH_INDEX
    value: "issu_dip_wksp.gasentec_hands_on.gasentec_lng_glossary_index"
  - name: SUPERVISOR_AGENT_ENDPOINT
    value: "<supervisor-agent-endpoint>"
